body 
{
    background: white;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.simple-nav 
{
    background: #9067c6;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.nav-logo 
{
    background: white; 
    border-radius: 50%; 
    width: 35px; 
    height: 35px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--main-purple);
}

.simple-nav a 
{
    margin: 0 10px;
    color: #e6e2ea;
    text-decoration: none;
    font-weight: 600;
}

.navbar-nav .nav-link
{
    color: rgba(255, 255, 255, 0.8) !important; 
    font-weight: 600;
    margin-left: 20px;
    transition: color 0.3s;
    font-size: 1.1rem;
}

.cart-container 
{
    background-color:   #8c71ca;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;
    min-height: 300px; 
}

.btn-browse
{
    width: 50px;
    height: 40px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 6px;
    margin: 0 10px;
    padding: 4px;
    font-weight: bold;
    color: #333;
    background: white;
}

.table-header 
{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cart-item-row 
{
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0; 
}

.item-title 
{
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}

.price-text 
{
    font-size: 1.1rem;
    color: #333;
}

.product-img 
{
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-right: 20px;
    margin-left: 20px;
}

.qty-box 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-input 
{
    width: 50px;
    height: 40px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 6px;
    margin: 0 10px;
    font-weight: bold;
    background: white;
}

.qty-btn 
{
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
}

.delivery-note 
{
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 30px;
}

.btn-checkout 
{
    background-color: #8E84C9;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 900px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    display: block;
    margin: 40px auto; 
    box-shadow: 0 5px 15px rgba(142, 132, 201, 0.5);
    transition: transform 0.2s;
    cursor: pointer;
}

.btn-checkout:hover {
    transform: scale(1.02);
    background-color: #7a70b3;
}